<p-toolbar styleClass="bg-blue-100 shadow-2 mat-elevation-z5 relative z-5">
  <div class="p-toolbar-group-start">
    <p-button (onClick)="collapsed.set(!collapsed())" icon="pi pi-align-justify" class="mr-2" />
  </div>
</p-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="p-6" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>