@use "@angular/material" as mat;
@include mat.core();

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind components;
@tailwind utilities;



@layer reset, primeng;

// reset styles
@layer reset {
    button {
        &:focus {
            box-shadow: none;
        }
    }

    .p-toolbar {
        border-radius: 0;
        border: none;
    }
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --primary-color: #004E8B;
}

$primary-color: #004E8B;
$primary-lighter: lighten($primary-color, 20%);
$primary-darker: darken($primary-color, 20%);
$mat-primary: (
    main: $primary-color,
    lighter: $primary-lighter,
    darker: $primary-darker,
    200: $primary-color,
    // For slide toggle,
    contrast : (main: #ffffff,
        lighter: #000000,
        darker: #ffffff,
    ),
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $theme-primary,
                accent: $theme-accent,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($my-theme);


.mat-mdc-tab-ripple {
    border: 1px solid rgb(230, 222, 222);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mdc-tab-indicator--active {
    background-color: #0e4e7f !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #fff !important;
    font-size: 14px;
}

.mdc-tab__text-label {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
}

.mat-mdc-tab-body-wrapper {
    border: 1px solid transparent !important;
}


.mdc-list-item__primary-text {
    color: #ffffff !important;
}

mat-icon {
    color: #ffffff !important;
}